.contact{
    color: white;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.contact h1{
    font-weight: bold;
}

.contact p {
    color: #777;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    margin: 2% 0;
    padding-right: 20px;
}


.contact button{
    background-color: #f7631b;
    width: 160px;
    color: white;
    padding: 10px;
    font-weight: bold;
    border-radius: 0;
}

.contact button:hover {
    color: #f7631b;
    background-color: white;

}

